.container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  width: auto;
  height: calc(100vh);
  top: 0;
  position: sticky;
  color: #464646;
}
.patientGeneralInfo {
  width: fit-content;
}
.sectionTitle {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.patientTelecom {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-row-gap: 0.6rem;
  grid-column-gap: 0.5rem;
}

.address,
.birthDate,
.gender {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.logo {
  padding: 1rem 0 2rem 0;
}

.logo p {
  font-weight: 500;
  font-size: 1.5rem;
}
