.cardWrapper {
    padding: 10px 20px;
    border-radius: 0.5rem;
    box-shadow: 1px 0 10px 0 rgba(0,0,0,0.1);
    background: white;
    flex: 1
}

.withActions {
    border-radius: 0.5rem 0.5rem 0 0;
}

.alignCenter {
    align-items: center;
    display: flex;
}

.bottomActionsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 0.9rem 0;

    background: #2A9D8F;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 1px 0 10px 0 rgba(0,0,0,0.1);
}

.grid2 {
    grid-template-columns: repeat(2, 1fr);
}

.bottomActionsContainer button {
    cursor: pointer;
    font-size: 0.8rem;
    color: #e9e9e9;
    font-weight: 600;
    border: none;
    background: none;
}

.bottomActionsContainer button:hover {
    color: white;
}
