{ns sdk-cli
 import #{zen.cli}

 sdk
 {:zen/tags #{zen.cli/command}
  :zen/desc "SDK generation"
  :args-style :positional}


 config
 {:zen/tags #{zen.cli/config}
  :commands {:sdk          {:command sdk}
             :zen          {:config zen.cli/zen-config}}}}
